.helpIndex{
h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 10px;
    line-height: 24px;
}

.ant-anchor-link .ant-anchor-link {
    padding-bottom: 10px;
}

#content {
    padding: 10px 20px;
    margin-left: 200px;
}

.blue{
    color: #00A0FF;
}
.code{
    padding:0 70px;
}
.answer {
    margin-left: 25px;
}
.ant-image img{
    margin-bottom: 10px;
    cursor: zoom-in;
    border-radius: 3px;
}
}
//产品简介
.agent_introduce{
    padding: 50px 80px;
    background: #fff;
    h1{font-size:22px;line-height:60px;}
	h2{font-size:20px;line-height:50px;}
	h3{font-size:18px;line-height:40px;}
	h4{font-size:16px;line-height:32px;text-indent:2em;}
    p{font-size:16px;line-height:30px;text-indent:2em;}
    ul{list-style: none;}
	ul li{font-size:16px;line-height:26px;text-indent:4em;}
	td{font-size:16px;line-height:50px;}
	th{font-size:16px;line-height:50px;text-align:center;font-weight:600;}
	table,table tr th, table tr td { border:1px solid #333; }
	table tr td:last-child{text-align:left;padding-left:10px;}
    table { width:100%;text-align: center; border-collapse: collapse;margin:20px 0;} 
    img {
        width: 70%;
    }
}
//
.guideIndex{
    .ant-menu,
    .guide-sider,
    .ant-anchor-wrapper,
    .ant-layout-sider {
        background: #fff;
    }
    //background: #fff;
    .ant-layout-sider{
    box-shadow: 0 0 8px 0.2px #c1c1c1;
}
    .guide-content{
    padding: 10px 20px;
    margin-left: 225px;
    }
    img{
        margin: 0 20px 10px 20px;
        width: 70%;
    }
    h1{
        font-size: 22px;
        line-height: 60px;
    }
    h2 {
        font-size: 20px;
        line-height: 50px;
    }
    h3 {
        font-size: 18px;
        line-height: 40px;
    }
    h4 {
        font-size: 16px;
        line-height: 32px;
        /* text-indent: 2em; */
    }
    p {
        font-size: 16px;
        line-height: 30px;
    }
    ul{
        list-style: none;
        li {
            font-size: 16px;
            line-height: 26px;
            /* text-indent: 4em; */
        }
    }
    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin: 20px 0;
        tr td:last-child{text-align:left;padding-left:50px;}
        td{
            font-size: 16px;
            line-height: 50px;
        }
    }
    table,table tr th, table tr td { border:1px solid #333; }
    .item-box{
        padding-left: 25px;
    }
.guide-title{
    width:100%;text-align:center;font-size:30px;font-weight:700;line-height:120px;
}
}