@import '~antd/dist/antd.css';
*{
  padding: 0;
  margin: 0;
}
.ant-pro-table-list-toolbar,.ant-pro-table-alert{
  display: inline-block;
}
.ant-pro-table-list-toolbar{
  float: right;
  padding: 10px;
}
.ant-alert-info{
background: none;
border: none;
}
//tag
.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.edit-tag {
  user-select: none;
}
.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}
.table-button{
  padding-left: 24px;
  button{
    margin-right: 10px;
  }
}
.table-pagination{
  float:right;
  padding-right: 15px;
}
.loginModel{
  width: 421px !important;
}
.blue{
  color: #00A0FF;
}